* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.left-column {
    flex: 1;
    padding-right: 20px;
}

.right-column {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul.skills {
    list-style-type: none;
    margin-top: 20px;
}

ul.skills li {
    margin-bottom: 10px;
    font-weight: bold;
}

.highlight {
    color: #ffcc00;
    /* Yellow color for the highlight */
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        flex: 1;
        padding: 10px;
    }

    .profile-image {
        max-width: 80%;
    }
}