* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    padding: 20px;
}
 .grid-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
 }

 .grid-item {
     background-color: lightblue;
     border: 1px solid #333;
     display: flex;
     /* Make this a flex container */
     align-items: center;
     /* Center items vertically */
     justify-content: center;
     /* Center items horizontally */
 }

 .flex-item {
     background-color: coral;
     margin: 5px;
     padding: 10px;
     border-radius: 5px;
 }
.hbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Optional: Adds space between items */
}
.vbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Optional: Adds space between items */
}
.wrapper {
    display: grid;
    grid-template-columns: var(--col1-width, 1fr) var(--col2-width, 1fr);
    grid-template-columns: repeat(4, [col] 150px);
    gap: 10px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}
.item {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid #ccc;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul.skills {
    list-style-type: none;
    margin-top: 20px;
}

ul.skills li {
    margin-bottom: 10px;
    font-weight: bold;
}

.highlight {
    color: #ffcc00;
    /* Yellow color for the highlight */
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        flex: 1;
        padding: 10px;
    }

    .profile-image {
        max-width: 80%;
    }
}