@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@font-face {
    font-family: 'normalText';
    src: url('../fonts/bahnschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'headerText';
    src: url('../fonts/FE-FONT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
        font-family: 'normalText', sans-serif;
    }

header {
    background-color: #111;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'headerText', sans-serif;
}
header>div>h1 {
    color: #111;
    background-color: #fc0;
    font-size: 10vw;
    padding: 1vw 2vw;
        margin: 1vw;
    }
header>div>h2 {
    margin: 1vw;
        font-size: 4vw;
    display: flex;
    justify-content: center;
}

header>div>h2>span {
    font-family: 'headerText', sans-serif;
    background-color: #111;
    color: #fc0;
}

h1,
h2 {
    font-family: 'headerText', sans-serif;
}