.cv-section {
    padding-bottom: 1vw;  /* opzionale, per simmetria */
    background-color: #EFEFEF;
    color: #000000;
    box-sizing: border-box;
    padding-right: 5vw;
}


.cv-container {
    display: none; /* inizialmente nascosto */
    width: 100%;
    box-sizing: border-box;
    gap: 40px;
    justify-content: stretch;
    align-items: flex-start;
}


#toggleTitle {
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
}

#toggleTitle:hover {
    transform: scale(1.05);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 0;
    min-width: 0;
}


.section {
    line-height: 1.2;
}

.section h2 {
    font-size: clamp(10px, 1vw, 18px);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.section ul {
    list-style-type: none;
    padding-left: 0;
}

/* Testo generale */
.section p,
.section ul li {
    font-size: clamp(10px, 1vw, 18px);
    white-space: normal;
    overflow-wrap: break-word;
}

/* ---------- RESPONSIVE ---------- */

@media (max-height: 500px) and (orientation: landscape) {
    .column {
        flex: 1 1 calc(50% - 20px); /* 2 colonne */
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    .column {
        flex: 1 1 100%;            /* 1 colonna */
    }
}

/* ---------- SKILLS GRID ---------- */

.skills-container {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: clamp(0.8rem, 1vw, 1rem);
    text-align: right;
}

.skills-list p {
    display: contents;
    margin: 0;
}

.skills-list span {
    display: block;
    font-family: 'headerText', sans-serif;
    align-items: flex-end; /* Align elements at the bottom */
}

.skills-list span:first-child {
    text-align: right;
}

.skills-list span:last-child {
    text-align: left;
}

.skill-category {
    grid-column: 1 / span 2;
    font-weight: bold;
    font-size: clamp(10px, 1vw, 18px);
}

.skill-item {
    display: contents;
    font-size: clamp(10px, 1vw, 18px);
}

.skill-item > :nth-child(1) {
    grid-column: 1;
}

[skill-level] {
    grid-column: 2;
}

[skill-level] span {
    display: inline-block;
        width: clamp(0.5rem, 1vw, 2rem);
        aspect-ratio: 1 / 1;
    margin: 0 10px 0 0;
    background-color: #bdbdbd;
}


[skill-level="1"] :nth-child(-n+1),
[skill-level="2"] :nth-child(-n+2),
[skill-level="3"] :nth-child(-n+3),
[skill-level="4"] :nth-child(-n+4),
[skill-level="5"] :nth-child(-n+5) {
    background-color: #dfb03b;
}
