@font-face {
    font-family: 'headerText';
    src: url('../fonts/FE-FONT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1vw;
}

.highlight {
    background-color: #fcd573;
    padding: 1wv;
}

/* Left Column Styling */
.left-column {
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column; /* Aggiunto per gestire meglio la disposizione */
}

.info > * {
    flex: 1;
    margin-bottom: 10px; /* Aggiunto margine per separare i dati */
}

.profile-image {
    max-width: 100%;
    max-height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 2vw; /* Uniformare margini */
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    text-align: right;
}

.skills-list p {
    display: contents;
    margin: 0;
}

.skills-list span {
    display: block;
    font-family: 'headerText', sans-serif;
    align-items: flex-end; /* Align elements at the bottom */
}

.skills-list span:first-child {
    text-align: right;
}

.skills-list span:last-child {
    text-align: left;
}

/* Ridimensionamento dei titoli */
h1 {
    font-size: 6vw; /* Ridotto per adattarsi meglio */
    margin: 2px;
}

h2 {
    font-size: 2.6vw; /* Ridotto per adattarsi meglio */
    margin: 0.4vh 0 1.5vh 0;
}

/* Modifica per il testo della data e posizione */
.info div {
    font-size: 1.5em; /* Leggermente più grande del font h */
}

/* Media query per mobile landscape layout */
@media (max-width: 768px) and (orientation: landscape) {
    .about-container {
        flex-direction: row;
        align-items: flex-start; /* Keeps the vertical alignment at the top */
    }

    .left-column {
        flex: 1;
        max-width: 50%; /* Occupies 50% of the width */
    }

    .profile-image {
        max-width: 45vw; /* Limits the width of the image */
        margin: 0 2vw; /* Uniformare margini */
    }

    .skills-list {
        width: 100%; /* Assicura che la lista delle competenze si estenda per tutta la larghezza */
        margin-top: 20px; /* Aggiunge uno spazio tra l'immagine e la skills list */
    }
}
