@font-face {
    font-family: 'headerText';
    src: url('../fonts/FE-FONT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Imposta il box-sizing */
* {
    box-sizing: border-box;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Assicura che le colonne siano allineate in alto */
    gap: 1vw;
}

.highlight {
    background-color: #fcd573;
    padding: 0.1em; /* Mantiene le evidenziazioni */
}

/* Left Column Styling */
.left-column {
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column; /* Aggiunto per gestire meglio la disposizione */
}

.info > * {
    flex: 1;
    margin-bottom: 10px; /* Aggiunto margine per separare i dati */
}

.profile-image {
    max-width: 100%;
    max-height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 1vw;
    border-radius: 5px; /* Uniformato il margine */
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    text-align: right;
}

.skills-list p {
    display: contents;
    margin: 0;
}

.skills-list span {
    display: block;
    font-family: 'headerText', sans-serif;
    align-items: flex-end; /* Align elements at the bottom */
}

.skills-list span:first-child {
    text-align: right;
}

.skills-list span:last-child {
    text-align: left;
}

/* Ridimensionamento dei titoli */
h1 {
    font-size: 6vw; /* Ridotto per adattarsi meglio */
    margin: 2px;
}

h2 {
    font-size: 2.3vw; /* Ridotto per adattarsi meglio */
    margin: 0.4vh 0 1.5vh 0;
}

/* Media query per mobile landscape layout */
@media (max-width: 768px) and (orientation: landscape) {
    .about-container {
        flex-direction: row;
        align-items: flex-start; /* Mantiene l'allineamento verticale in alto */
    }

    .left-column {
        flex: 1;
        max-width: 50%; /* Occupa il 50% della larghezza */
    }

    .profile-image {
        max-width: 45vw; /* Limita la larghezza dell'immagine */
        margin: 0 1vw;
        border-radius: 5px; /* Margini uniformati */
    }
}

/* Media queries specifiche per smartphone */
@media (max-width: 600px) {
    .profile-image {
        margin: 0 1vw; 
        border-radius: 5px;/* Margine uniforme per smartphone */
    }

    .info > * {
        font-size: 1.1em; /* Dimensione del font leggermente più grande */
    }

    .skills-list p {
        font-size: 2.5vh; /* Dimensione del font per le competenze */
    }

    h1, h2 {
        margin: 0; /* Rimuove margini per una disposizione più compatta */
    }
}
