.contact-links {
    display: flex; /* Disporre i collegamenti affiancati */
    gap: 20px; /* Spazio tra i collegamenti */
    margin-top: 20px; /* Spazio sopra i collegamenti */
}

.contact-link {
    font-size: 1.1vw;
    display: flex; /* Per allineare icona e testo */
    align-items: center; /* Centra verticalmente icona e testo */
    text-decoration: none; /* Rimuove la sottolineatura */
    color: black; /* Colore del testo */
    background-color: #e5b52c; /* Colore di sfondo blu per il pulsante */
    padding: 14px 24px; /* Spazio interno al pulsante */
    border-radius: 5px; /* Angoli arrotondati */
    transition: transform 0.1s ease, background-color 0.2s ease; /* Transizioni per hover */
    font-weight: bold;
}

.contact-link:hover {
    cursor: pointer; /* Cambia il cursore su pointer */
    transform: scale(1.05); /* Leggero effetto di scaling su hover */
    background-color: #e5b52c; /* Colore di sfondo più scuro su hover */
}

.contact-icon {
    width: 24px; /* Dimensione dell'icona */
    height: 24px; /* Dimensione dell'icona */
    margin-right: 10px; /* Spazio tra icona e testo */
    transition: transform 0.2s ease; /* Transizione per la rotazione */
}

/* Ruota solo l'icona al passaggio del mouse */
.contact-link:hover .contact-icon {
    transform: rotate(15deg); /* Rotazione dell'icona al passaggio del mouse */
}
