/* Sticky header titles */
.header-titles-sticky {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: transparent;
    pointer-events: none;
    will-change: transform;
}
.header-titles-sticky h1,
.header-titles-sticky h2 {
    pointer-events: auto;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@font-face {
    font-family: 'normalText';
    src: url('../fonts/bahnschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'headerText';
    src: url('../fonts/FEGUZ.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'headerText';
    src: url('../fonts/FE-FONT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'normalText', sans-serif;
    overflow-x: hidden !important;
    background-color: #111;
}

body>header,
footer{
    background-color: #fff;
    padding: 4vw;
    min-width: 650px;
}

main {
    background-color: #fff;
    min-width: 650px;
}

h1 {
    font-size: 5vw; /* Ridotto per adattarsi meglio */
    margin: 2px;
}

h2 {
    font-size: 2.3vw; /* Ridotto per adattarsi meglio */
    margin: 0.4vh 0 1.5vh 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'headerText', sans-serif;}

.highlight {
    color: black;
    background-color: #fcd573;
    padding: 0.1em; /* Mantiene le evidenziazioni */
}

.highlight-dark{
    color: black;
    background-color: #dfb03b;
    padding: 0.1em; /* Mantiene le evidenziazioni */
}

/* di default invisibile */
.spacer {
    height: 0;
}

/* attivo solo su mobile landscape */
@media (max-height: 500px) and (orientation: landscape) {
    .spacer {
        height: 10px; /* microspazio verticale */
    }
}
