#orientation-modal {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #000; 
    color: #fff;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    text-align: center;
    padding: 2rem; 
    gap: 1rem;
}

#orientation-modal.show-modal {
    opacity: 1;
    pointer-events: all;
}

#orientation-modal img {
    width: clamp(300px, 40vw, 600px); 
    height: auto;
    margin: 1rem;
}

#orientation-modal h2 {
    font-size: clamp(5rem, 5vw, 8rem);
    margin: 1rem;
}

#orientation-modal p {
    font-size: clamp(3rem, 3vw, 6rem);
    margin: 1rem;
}
