html.lock-scroll,
body.lock-scroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    touch-action: none;
}

#orientation-modal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #000;
    z-index: 999999;

    opacity: 0;
    pointer-events: none;
}
#orientation-modal.show-modal {
    opacity: 1;
    pointer-events: all;
}
