body.lock-scroll {
    overflow: hidden;
    height: 100svh;
    touch-action: none;
}

#orientation-modal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100svh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #000;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    overflow: hidden;
}


#orientation-modal.show-modal {
    opacity: 1;
    pointer-events: all;
}

/* CONTENUTO */

/* icona */
#orientation-modal img {
    max-height: 30svh;
    width: auto;
    max-width: 70vw;
    margin-bottom: 3svh;
}

/* titolo */
#orientation-modal h2 {
    font-size: clamp(1.6rem, 4svh, 2.4rem);
    margin-bottom: 2svh;
    line-height: 1.2;
}

#orientation-modal p {
    font-size: clamp(1rem, 2.5svh, 1.4rem);
    line-height: 1.4;
    max-width: 32ch;
}