/* Ensure the container uses grid */
.project-container {
    display: grid;
    gap: 2vw;
    justify-content: center;
    margin-bottom: 4vh;
    cursor: pointer;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* Responsive grid */
    align-items: stretch;
    /* Ensure cards stretch vertically */
}
@media (max-width: 1200px) {
    .project-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 700px) {
    .project-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
/* Style for the individual project card */
.project-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.07);
    /* Subtle hover effect */
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* Prevent image distortion */
}

.project-card h4 {
    font-size: 3vh;
    margin: 5px 0; /* Modificato per rimuovere spazio superfluo */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0.25vw; 
}

.project-card p {
    display: inline-block;
    font-size: 2vh;
    color: #555;
    margin: 0px 0; /* Modificato per rimuovere spazio superfluo */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Add padding to avoid overlap */
    padding: 0px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}

.modal-content {
    width: 100%;
    height: 99vh;
    border: none;
    /* No border */
}

.close {
    position: absolute;
    bottom: 20px;
    right: 40px;
    padding: 1vw;
    background-color: #111;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

.skill-category {
    margin-bottom: 10px;
    margin-top: 10px;
}