#project-navbar {
    display: none; /* Nascondi inizialmente la navbar */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    padding: 0.8vh 0;
    z-index: 1000;
    transition: transform 0.3s ease; /* Transizione per il movimento */
}

#project-navbar.visible {
    display: flex; /* Mostra la navbar */
    transform: translateY(0); /* Posizione originale */
}

#project-navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1vw;
    padding: 0;
    margin: 0;
}

.navbar-item {
    color: #e5b52c; /* Colore giallo per il testo */
    font-size: 2vh; /* Dimensione del testo */
    cursor: pointer; /* Mostra il cursore a forma di mano */
    transition: transform 0.3s; /* Transizione per lo scaling */
}

.navbar-item:hover {
    transform: scale(1.2); /* Effetto di ingrandimento al passaggio del mouse */
}

