.interactive-photo {
  position: relative;
  width: 100%;
  overflow: visible;
}

/* wrapper che segue lo scroll */
.photo-wrapper {
  position: relative;
  max-height: 90vh;
/*outline: 2px solid blue;*/
}

.photo-wrapper img {
  display: block;
  max-height: 90vh;
  height: auto;
    width: 100%; /* riempie la colonna */
}


/* immagine base */
.profile {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

/* braccio */
.arm {
  position: absolute;

  /* NON forzare dimensioni */
  width: auto;
  height: auto;
  max-height: 70vh;

  z-index: 999;
  pointer-events: none;

  transform-origin: 50% 50%;


/*outline: 2px solid red;*/
}

.arm .pivot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
}

.arm::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  top: calc(var(--to, 22%) );
  left: calc(var(--tx, 18%) );
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
}

